* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
}

.header h2 {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}

.header p {
    font-size: 14px;
    color: #777;
}

.content {
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table td {
    padding: 5px 0;
    font-size: 16px;
}

.footer {
    text-align: left; /* Mengubah teks menjadi rata kiri */
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
}

.footer-id {
    text-align: center;
    margin-top: 10px;
}

.footer-id p {
    font-size: 14px;
    color: #777;
}